@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;

    // Đặt lại kiểu dữ liệu của TUser là ApplicationUser
    var userManager = HttpContext.RequestServices.GetRequiredService<UserManager<ApplicationUser>>();
    var user = await userManager.GetUserAsync(User);

    string selectedLayout = "~/Views/Shared/_Layout.cshtml"; // Layout mặc định

    if (user != null)
    {
        var roles = await userManager.GetRolesAsync(user);

        if (roles.Contains("Admin"))
        {
            selectedLayout = "~/Views/Shared/_AdLayout.cshtml"; // Layout cho Admin
        }
        else if (roles.Contains("Dentist"))
        {
            selectedLayout = "~/Views/Shared/_LayoutDentist.cshtml"; // Layout cho Dentist
        }
    }

    Layout = selectedLayout;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">Personal data</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                    <label asp-for="Email" class="form-label"></label>
                </div>
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
            }
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
