@model Phongkham.Models.Tintuc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mt-4">Chi tiết tin tức</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(model => model.tieude)</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Nội dung</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Noidung)</dd>

                <dt class="col-sm-3">Ngày đăng</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NgayDang)</dd>

                <dt class="col-sm-3">Ảnh</dt>
                <dd class="col-sm-9">
                    <img src="@Model.ImageUrl" class="img-fluid" alt="Tintuc Image" />
                </dd>

                <dt class="col-sm-3">Loại tin</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Loaitintuc.Name)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
        <a type="button" class="btn btn-danger" asp-action="Index">Quay lại danh sách</a>
    </div>
</div>
