<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Phongkham</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Customer/img/favicon.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Customer/css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Customer/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Customer/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/Customer/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/Customer/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Customer/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/Customer/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Customer/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/Customer/css/magnific-popup.css">
    @*     <link href="~/Customer/css/style1.css" rel="stylesheet" /> *@
    <!-- Medipro CSS -->
    <link rel="stylesheet" href="~/Customer/css/normalize.css">
    <link rel="stylesheet" href="~/Customer/css/style.css">
    <link rel="stylesheet" href="~/Customer/css/responsive.css">
</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header Area -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-12">
                        <!-- Top Contact -->
                        <!-- End Top Contact -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <!-- Start Logo -->
                            <div class="logo">
                                <a asp-area="" asp-controller="HomeDT" asp-action="Index"><img src="~/Customer/img/logo.png" alt="#"></a>
                            </div>
                            <!-- End Logo -->
                            <!-- Mobile Nav -->
                            <div class="mobile-nav"></div>
                            <!-- End Mobile Nav -->
                        </div>
                        <div class="col-lg-7 col-md-9 col-12">
                            <!-- Main Menu -->
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Index" && ViewContext.RouteData.Values["controller"]?.ToString() == "HomeDT" ? "active" : "")">
                                            <a href="@Url.Action("Index", "HomeDT")">Home <i></i></a>
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Index" && ViewContext.RouteData.Values["controller"]?.ToString() == "Cakhams" ? "active" : "")">
                                            <a href="@Url.Action("Index", "Cakhams")">Ca khám <i></i></a>
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["action"]?.ToString() == "IndexLK" && ViewContext.RouteData.Values["controller"]?.ToString() == "HomeDT" ? "active" : "")">
                                            <a href="@Url.Action("IndexLK", "HomeDT")">Lịch khám <i></i></a>
                                        </li>
                                        <li>
                                            @await Html.PartialAsync("~/Views/Shared/_MenuPartial.cshtml", ViewData["LoaiTinTuc"])
                                        </li>
                                        <li><a href="#">Địa chỉ</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ End Main Menu -->
                        </div>
                        <div class="col-lg-2 col-12">
                            <div class="get-quote">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div style="display: flex; gap: 10px">
                                        <span style="margin-top: 10px;">@User.Identity.Name</span>
                                        <a class="btn btn-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Manage" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "" : "active")" asp-area="Identity" asp-page="/Account/Manage/Index">
                                            <i class="fas fa-user"></i> <!-- Thay đổi biểu tượng ở đây -->
                                        </a>
                                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" style="display: inline;">
                                            <a href="#" class="btn btn-link" onclick="this.closest('form').submit(); return false;">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </a>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <a href="~/Identity/Account/Login" class="btn" onclick="toggleMainMenuVisibility();">Đăng nhập</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>

    <!-- End Header Area -->
    <div class="container1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--/ End Feautes -->
    <!-- Start Fun-facts -->
    <!-- Footer Area -->
    <footer id="footer" class="footer ">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>About Us</h2>
                            <p>Lorem ipsum dolor sit am consectetur adipisicing elit do eiusmod tempor incididunt ut labore dolore magna.</p>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="https://www.facebook.com/duy.nguyennhat.7547031/"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h2>Quick links</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other links</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Open Hours</h2>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit do eiusmod tempor incididunt.</p>
                            <ul class="time-sidual">
                                <li class="day">Monday - Friday <span>8.00-20.00</span></li>
                                <li class="day">Saturday <span>9.00-18.30</span></li>
                                <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Newsletter</h2>
                            <p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Your email address'" required="" type="email">
                                <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="copyright-content">
                            <p>© Copyright 2018 | All Rights Reserved by <a href="https://www.wpthemesgrid.com" target="_blank">wpthemesgrid.com</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->
    <!-- jquery Migrate JS -->
    <script src="~/Customer/js/jquery-migrate-3.0.0.js"></script>
    <!-- jquery Ui JS -->
    <script src="~/Customer/js/jquery-ui.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Customer/js/easing.js"></script>
    <!-- Color JS -->
    <script src="~/Customer/js/colors.js"></script>
    <!-- Popper JS -->
    <script src="~/Customer/js/popper.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="~/Customer/js/bootstrap-datepicker.js"></script>
    <!-- Jquery Nav JS -->
    <script src="~/Customer/js/jquery.nav.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Customer/js/slicknav.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Customer/js/jquery.scrollUp.min.js"></script>
    <!-- Niceselect JS -->
    <script src="~/Customer/js/niceselect.js"></script>
    <!-- Tilt Jquery JS -->
    <script src="~/Customer/js/tilt.jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Customer/js/owl-carousel.js"></script>
    <!-- counterup JS -->
    <script src="~/Customer/js/jquery.counterup.min.js"></script>
    <!-- Steller JS -->
    <script src="~/Customer/js/steller.js"></script>
    <!-- Wow JS -->
    <script src="~/Customer/js/wow.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Customer/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up CDN JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="~/Customer/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Customer/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="~/Customer/js/main.js"></script>
    <!-- Các Scripts khác nếu cần -->
    @RenderSection("Scripts", required: false)

</body>
</html>